@using WebsiteBanCaPhe.Models
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@model IEnumerable<WebsiteBanCaPhe.Models.Customer>

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">THÔNG TIN KHÁCH HÀNG</h2>
    <table class="table table-bordered">
        <tr>
           
            <th>
                TÊN KHÁCH HÀNG
            </th>

            <th>
                GIỚI TÍNH
            </th>
            <th>
                SỐ ĐIỆN THOẠI
            </th>
            <th>
                ĐỊA CHỈ
            </th>
            <th>
                CHỨC NĂNG
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneCus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.IDCus }, new { @class = "btn btn-success" })

                </td>

            </tr>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Quay lại trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
</p>